{% extends 'base.html'%}
        {% block content %}

        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">mysite</h1>
                    <p>{% if content_list %}
  {% for content in content_list %}
<hr/>
<h3><a href="/mysite/{{ content.id }}/">{{ content.title }}</a> </h3>
<h5>{{ content.content }}</h5>
                    <a class="btn btn-primary" href="{% url 'detail' content.id %}">상품 상세보기</a>
{% endfor %}
{% else %}
<p>content가 없습니다.</p>
{% endif %}
</p>

                </div>
            </div>
             </div>

                   {% endblock %}
